body {
	background-color: #f9f9f9;
}

h1 {
	color: #d35400;
}

h2 {
	color: #2980b9;
}

a {
	color: grey
}

.ingredients, .instructions {
	background-color: #ffffff;
	padding: 15px;
	padding-right: 30px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	margin-bottom: 20px;
	text-align: justify;
}

ul {
	list-style-type: disc;
}

.instructions li:not(:last-child) {
    margin-bottom: 12px; /* Apply margin to all list items except the last */
    padding-bottom: 0; /* No bottom padding on each list item */
}

.ingredients h3, .instructions h3 {
	padding-left: 15px;
}

input[type="range"] {
    -webkit-appearance: none; /* Remove default styling */
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
  }

  /* WebKit (Chrome, Safari) */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #2980b9;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }

  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background-color: #2980b9;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  }